{% load static %}

<html>
<head>
  <title>Log In - Faraz Abisha's StoryX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
<style type="text/css">

body {
  background: url('https://c4.wallpaperflare.com/wallpaper/859/973/183/teemusphoto-urban-dystopian-singapore-wallpaper-preview.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  color:black;

}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


</head>
<body> 

  <div class="font1">
   <div class="container pt-5 fluid" style="text-align: center; color: white">
      <b>Faraz Abisha's Story X</b>
  </div>
</div>
<div class="container pl-2">
<div class="col md-6 pt-5 pl-5" style="color: white">
  <h2><b>Login</b></h2>
  <form method="POST">
    <div class="form-group">
       {% csrf_token %}
       <label>Username:</label>
       <input name="Username" id="Username" type="text" required>
   </div>
   <div class="form-group">
     <label>Password: </label>
     <input name="Password" id="Password" type="password" required>
   </div>
   <div class="form-group">
      <input type="submit" value="Log In" id="log-in" class="btn btn-warning" style="background-color: #426ff5; color: white">

   </div>
   
  </form> 
            {% for i in messages %}
            <h5>{{ i }}</h5>
            {% endfor %}

         <br><br><br><h5>Don't have an account yet?</h5>
         <a href = "{% url 'homepage:signup' %}" id="signbut"><h5 style="color: white"><b><u>Sign up here</u></b></h5></a>
       
</div>
</div>
</div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</div>
</body>
</html>


