{% load static %}

<html>
<head>
  <title>Faraz Abisha's StoryX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
<style type="text/css">

body {
  background: url('https://facts.uk/wp-content/uploads/2019/10/interesting-facts-about-Jakarta-1920x1080.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  color:black;

}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


</head>
<body> 

  <div class="font1">
   <div class="container pt-5 fluid" style="text-align: center; color: white">
      <b>Faraz Abisha's Story X</b>
  </div>
</div>
<div class="container pl-2" >
<div class="col md-6 pt-5 pl-5" style="color: black">



  <h2>Hi, {{ user.username }}!</h2>
  <h4>Have a nice day :)</h4>

  
            {% for i in messages %}
            <h5>{{ i }}</h5>
            {% endfor %}
            <br>
            <a href="{% url 'homepage:logout' %}">
            <input type="submit" value="Log out" id="log-out" class="btn btn-danger">
            </a>
</div>
</div>
</div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</div>
</body>
</html>


