{% load static %}

<html>
<head>
  <title>Sign Up - Faraz Abisha's StoryX</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link rel="stylesheet" href="{% static 'style.css' %}">
<style type="text/css">

body {
  background: url('https://66.media.tumblr.com/b99048340f8caa6561036c89609a1a63/tumblr_px9xvvf4181y40tixo1_400.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  height: 100vh;
  color:black;

}
</style>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>


</head>
<body> 

  <div class="font1">
   <div class="container pt-5 fluid" style="text-align: center; color: white">
      <b>Faraz Abisha's Story X</b>
  </div>
</div>
<div class="container pl-2">
<div class="col md-6 pt-5 pl-5" style="color: white">

  <h2><b>Sign Up</b></h2>
  <h5>Register an account now! It's super easy.</h5>

  <form method="POST">
    <div class="form-group">
       {% csrf_token %}
       <label>Username:</label>
       <input name="Username" id="Username" type="text" required>
   </div>
   <div class="form-group">
     <label>Password: </label>
     <input name="Password" id="Password" type="password" required>
   </div>
   <div class="form-group">
      <input type="submit" value="Sign Up" id="sign-up" class="btn btn-warning" style="background-color: #426ff5; color: white">
        {% for i in messages %}
        <br><br><h5>{{ i }}</h5>
        {% endfor %}


   </div>
  </form>

</div>
</div>
  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js" type="text/javascript"></script>

</div>
</body>
</html>


